{% extends "shared" %}

{% block title %}Error 404{% endblock title %}

{% block content %}
  <h2>Error 404: Not found</h2>
  Is there a typo in you url? Or maybe I moved something. Sorry about that.
{% endblock content %}
