<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <title>{% block title %}{% endblock title %} - zentner.io</title>
    <style type="text/css">{% include "css/shared" %}</style>
    {% endblock head %}
  </head>
  <body>
    <div id="header">
      <a class="header-entry" href="/">
        Home
      </a>
      <a class="header-entry" href="/projects/">
        Projects
      </a>
      <a class="header-entry" href="/organizations/">
        Organizations
      </a>
      <!--<a class="header-entry" href="/blog/">-->
        <!--Blog-->
      <!--</a>-->
    </div>
    <div id="content">
      {% block content %}
      {% endblock content %}
    </div>
    <div id="footer">
      {% block footer %}
      &copy; Copyright 2017 by <a href="https://zentner.io">Kyle Zentner</a>
      {% endblock footer %}
    </div>
  </body>
</html>
